[Unit]
Description=Main Power Monitor
Wants=multi-user.target
After=multi-user.target
DefaultDependecies=no

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/power_detect.o
WorkingDirectory=/usr/bin/

[Install]
WantedBy=multi-user.target
